<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <!--Для адаптивности-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="/src/infinity.png" type="image/x-icon">
    <title>Главная страница</title>
    <link href="/style/knit.css" rel="stylesheet">
</head>

<tbody class="d-flex flex-column h-100">
<header class="p-2 mb-3  border-bottom container-fluid shadow">
    <div class="container-fluid col-lg-10 ">
        <div class="navbar navbar-expand-lg navbar-light bg-transparent ">
            <a class="navbar-brand fs-4 col-2 " href="/index.html">
                <img src="/src/infinity-red.png" class="mb-1" width="30" height="30" alt="">
                Нить
            </a>
            <!--Кнопка для открытия свернутого меню -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userInfo"
                    aria-controls="userInfo" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav collapse navbar-collapse align-content-end ms-auto" id="userInfo">
                <ul class="nav">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Категории</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Одежда</a></li>
                            <li><a class="dropdown-item" href="#">Украшения</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Декор</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="container me-auto border-1">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Все категории" aria-label="Search"
                               aria-describedby="button-search">
                        <a href="#" class=" btn btn-outline-primary" id="button-search"><img src="/src/search.png"
                                                                                             width="25" height="25"
                                                                                             alt=""></a>
                    </div>
                </div>
                <div class="nav col-md-auto mb-2 justify-content-center mb-md-0">
                    <a class="nav-link col-12 col-lg-auto text-center" href="products_monitor.html">Мой магазгин</a>
                    <a class="nav-link col-12 col-lg-auto text-center" href="#">Покупки</a>
                    <a class="nav-link col-12 col-lg-auto text-center" href="#">Войти</a>
                </div>
            </div>
        </div>
    </div>

</header>

<main class="container col-md-10" id="content">
    <div class=" row justify-content-center p-e-5 ">
        <!--/*@thymesVar id="prod" type="com.prompo.knit.model.Product"*/-->
        <div class=" col-6 col-md-5 col-lg-4 col-xl-3 card-container" th:each="prod: ${products}">
            <div class="card">
                <a href="product_view.html" class="stretched-link"></a>
                <div class="image-container ">
                    <div class="square-image card-img-top " style="background-image: url(src/dog1.jpg);"></div>
                </div>
                <div class="card-body">
                    <p class="card-subtitle" th:text="${prod.name}"/>
                    <div class="row justify-content-between ">
                        <h5 class="col card-title" th:text="${prod.price} + ' ₽'"/>
                        <h5>
                        </h5>
                        <img class="col-auto" src="/src/heart.png" width="25" height="25" alt="">
                    </div>
                    <p class="card-text"><small class="text-danger">Остался последний экземпляр</small></p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer p-3 d-flex mt-auto justify-content-center bottom-0">
    <div class="container text-center text-white">
        © 2022 Copyright:
        <a class="text-white" href="index.html">knit.local</a>
    </div>
</footer>

<!-- JavaScript: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</tbody>

</html>