<!doctype html>
<html lang="en" class="h-100">
<head>
    <div th:replace="fragments :: head-data">&nbsp;</div>
    <title>Пустая страница</title>
</head>

<div th:replace="fragments :: header"/>
<body class="d-flex flex-column h-100">
<main class="container col-md-10" id="content">
    <!--/*@thymesVar id="product" type="Product"*/-->
    <span th:unless="${isCreate}">
    <form th:action="@{'/edit/' + ${productid}}"
          th:object="${product}"
          enctype="multipart/form-data"
          method="post">
            <h3>Редактирование товара</h3>
        <div th:replace="fragments :: product_input"/>
    </form>
    </span>
    <span th:if="${isCreate}">
    <form th:action="@{'/create'}"
          th:object="${product}"
          enctype="multipart/form-data"
          method="post">
            <h3>Добавление товара</h3>
        <div th:replace="fragments :: product_input"/>
    </form>
    </span>

</main>
<div th:replace="fragments :: footer"></div>
</body>
</html>