<!--/*@thymesVar id="prod" type="com.prompo.knit.model.Product"*/-->
<div class=" col-6 col-md-5 col-lg-4 col-xl-3 card-container" th:each="prod: ${products}">
    <div class="card" th:object="${prod}">
        <a th:href="@{'/product/' + *{id}}" class="stretched-link"></a>
        <div class="image-container ">
            <div class="square-image card-img-top "
                 th:style="'background-image: url(\'' + *{image} + '\');'">
            </div>
        </div>
        <div class="card-body">
            <p class="card-subtitle" th:text="*{name}"/>
            <div class="row justify-content-between ">
                <h5 class="col card-title" th:text="*{price} + ' ₽'"/>
                <img class="col-auto" th:src="@{/img/heart.png}" width="25" height="25" alt="">
            </div>
        </div>
    </div>
</div>