<!doctype html>
<html lang="en" class="h-100">
<head>
    <div th:replace="fragments :: head-data">&nbsp;</div>
    <link rel="shortcut icon" th:href="@{/inf1.ico}" type="image/x-icon">
    <title>Помощь</title>
</head>

<div th:replace="fragments :: header"/>
<body class="d-flex flex-column h-100">
<main class="container col-md-8"  id="content">
    <h4>
    Все посетители сайта имеют доступ к <a th:href="@{'/'}">главной странице </a> сайта, на которой представлен список всех опубликованных объявлений.
        Для перехода на главную страницу необходимо нажать левой кнопкой мыши (далее ЛКМ) на логотип
        сайта в левом верхнем углу экрана.
        <br>
    Для поиска необходимо ввести поисковый
        запрос в панель сыерху справа и нажать клавишу «Enter» или ЛКМ по кнопке с увеличительным стеклом.
        <br>
    Для просмотра подробной информации о товаре необходимо нажать ЛКМ по карточке товара на главной странице.
        В странице подробного просмотра товара можно оформить заказ на товар по нажатию кнопки «Оформить заказ»,
        после которого появится окно с формой для заказа. После заполнения всех полей формы необходимо нажать
        кнопку «отправить». Заказ будет сразу перенаправлен к продавцу.
        <br>
     Для доступа к функционалу продавца, пользователю необходимо <a th:href="@{'/login'}">авторизоваться</a> в системе.
        Сделать это можно по ссылке «Войти» справа сверху.
    <br>Для управления объявлениями перейдите по ссылке <a th:href="@{'/monitor'}">«Мои объявления»</a>. Каждое объявление
        представлено в виде карточки товара. Для удаления объявления нажмите на кнопку с изображением корзины (при
        наведении становится красного цвета) и подтвердите удаление.
        <br> Для редактирования товара нажните на кнопку с изображением карандаша (при наведении становится зеленого цвета).
        Вам станет доступна форма для редатирования объявления. После внесения изменений нажмите кнопку «Сохранить».
        <br> Добавление объявления: нажмите ЛКМ по пункту меню <a th:href="@{'/create'}">«Добавить объявление»</a> или на карточку с подписью
        «Добавить объявление» на странице «Мои объявления».
        <br>
    Для просмотра информации о текущем авторизованном пользователе нажмите на иконку с пользователем справа сверху.
    Для выхода из системы нажмите на иконку с пользователем справа сверху и в выпавшем меню пункт <a th:href="@{'/logout'}">«Выход»</a>.
    </h4>
</main>
<div th:replace="fragments :: footer"/>
</body>
</html>