.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.square-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card-body {
    padding: 1%;
    padding-right: 2%;
}

.card-container {
    position: relative;
    padding: 0.5%;
    padding-bottom: 2%;
  
    border-width: 1ch !important  ;
    border-color: #212529  !important ;

}

.card {
    background-color: white;
    border: 1;
    border-color: transparent;
}


.card-edit{
    height:100% !important;
    border:1px solid rgba(196, 194, 194, 0.5);
    border-radius: 1%;
}

.card-edit:hover{
    transform: none !important;
}

/*btn-primary*/
.btn-primary {
    color: #fff;
    background-color: #4464ad;
    border-color: #4464ad;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #4464ad;
    border-color: #4464ad;
  }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #4464ad;
    border-color: #4464ad;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4464ad;
    border-color: #4464ad;
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #4464ad;
    border-color: #4464ad;
  }
/**/  

.btn-outline-primary {
    color: #4464ad;
    border-color: #4464ad;
  }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #4464ad;
    border-color: #4464ad;
  }
  .btn:hover img{
      filter:invert(1) !important;
  }
  .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
  .btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: #4464ad;
    border-color: #4464ad;
  }
  .btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
  .btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: #4464ad;
    background-color: transparent;
  }


  /*btn-outline-danger*/
.btn-outline-danger {
    color: #9D0725;
    border-color: #9D0725;
  }
  .btn-outline-danger:hover {
    color: #fff;
    background-color: #9D0725;
    border-color: #9D0725;
  }
  .btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
  }
  .btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
    color: #fff;
    background-color: #9D0725;
    border-color: #9D0725;
  }
  .btn-check:checked + .btn-outline-danger:focus, .btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
  }
  .btn-outline-danger:disabled, .btn-outline-danger.disabled {
    color: #9D0725;
    background-color: transparent;
  }


.nav-link{
    color: #1D2A49 !important;
}
.form-control {
    border-color: rgba(68, 100, 173, 0.5);


}
.form-control:focus {
    color: #4464AD;
    background-color: #fff;
    border-color: #4464AD;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(68, 100, 173, 0.5);
}

.card-container> :hover {
    transform: scale(1.0001);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.footer {
    background-color: #1D2A49;
}

.carousel-item{
    height:25em;
    background-color: inherit;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: contain;

}